form.link-tooltip
  a.link(href="#", target="_blank")
  input(type="text", value="", name="link", placeholder="Add a Link", autocomplete="off")
  span.state
    a.done(href="#")
      .dashicons.dashicons-yes
    a.change(href="#")
      .noticon.noticon-edit
