.automattic-editor-wrapper
  .block.code-block
    &::before
      content: ''
    .toolbar
      text-align: right
      margin: 10px
    .code-wrapper
      margin: 10px 10px 10px 20px
    .options
      height: 24px
      select
        float: left
      select.language
        width: 120px;
      select.indentation
        width: 60px;