.automattic-editor-wrapper
  .block.twitter-block
    min-height: 0
    padding: 20px 40px
    .body
      float: none
      background: white
      padding: 10px
      & > .tweet-wrap
        min-height: 140px
        margin: 0 auto
        width: 490px
        overflow: hidden
        & > iframe
          width: 500px !important;
          margin: -15px 0 -15px -5px

    &::before
      content: '\f301'
