.editor-format-buttons
  button(data-command-name="h1", title="Heading 1 #{command}1")
    include ./header-icon.svg
    .subheader
      include ./h1-icon.svg
  button(data-command-name="h2", title="Heading 2 #{command}2")
    include ./header-icon.svg
    .subheader
      include ./h2-icon.svg
  button(data-command-name="h3", title="Heading 3 #{command}3")
    include ./header-icon.svg
    .subheader
      include ./h3-icon.svg
