.editor-format-buttons
  button(data-command-name="justifyleft", title="Align left #{altShift}L")
    include ./align-left-icon.svg
  button(data-command-name="justifycenter", title="Align center #{altShift}C")
    include ./align-center-icon.svg
  button(data-command-name="justifyright", title="Align right #{altShift}R")
    include ./align-right-icon.svg
  button(data-command-name="justifyfull", title="Justify #{altShift}J")
    include ./align-full-icon.svg
